<style>
    #calendar {
        max-width: 90%;
        margin: 0 auto;
    }

    .fc-left {
        color: black
    }

    .switch {
        visibility: hidden;
    }

    .prev {
        visibility: hidden;
    }

    .next {
        visibility: hidden;
    }

    .glyphicon-arrow-left {
        visibility: hidden;
    }

    .glyphicon-arrow-right {
        visibility: hidden;
    }
</style>


<!--------------- CALENDAR --------------->
<section id="main-content">
    <section class="wrapper">
        <form name="Form" class="form-panel">
            <div class="row">
                <div id='calendar'></div>
            </div>
        </form>
    </section>
</section>
<!----------------------------------------->


<!-- Modal -------------------------------->
<div>
    <div class="modal fade" id="minemodal" tabindex="-1" data-backdrop="static" role="dialog"
        aria-labelledby="myModalLabel" aria-hidden="true" style="display: none;">
        <div class="modal-dialog">
            <div class="modal-content">

                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                    <h4 class="modal-title" id="myModalLabel">Schedule</h4>
                </div>

                <div class="modal-body">
                    <div class="row">
                     
                        <div class="col-md-6 col-sm-12" ng-show="package.properties.showCourse">
                            <div class="form-group">
                                <label>Choose Course</label>
                                <select class="form-control show-tick ms select2" ng-disabled="isCourse"
                                    ng-model="schedule.scheduleData.courseId" id="course"
                                    ng-change="schedule.changeCourse()" data-placeholder="Course">
                                    <option ng-value="none">Choose...</option>
                                    <option ng-repeat="item in schedule.properties.courses track by $index"
                                        ng-value="item.documentId">
                                        {{item.course}}
                                    </option>
                                </select>
                            </div>
                        </div>

                        <div class="col-md-6" ng-show="DisplayTime">
                            <label>Select Time</label>
                            <div class="input-group date form_time col-md-12" data-date="{{schedule.properties.selectedDate}}"
                                data-date-format="hh:ii" data-link-field="dtp_input3" data-link-format="hh:ii">
                                <input id="time" class="form-control" size="16" type="text" readonly="">
                                <span class="input-group-addon"><span class="fa fa-calendar"></span></span>
                            </div>
                        </div>
                        
                    </div>

                    <div class="row">
                        <div class="col-md-12 col-sm-12" ng-show="IsType">
                            <div class="form-group">
                                <label>Choose Type</label>
                                <select class="form-control show-tick ms select2" ng-model="schedule.properties.selectedType" id="type"
                                    ng-change="schedule.changeType()" data-placeholder="Type">
                                    <option value="group">Group Lesson</option>
                                    <option value="level">Level Lesson</option>
                                </select>
                            </div>
                        </div>
                    </div>

                    <div class="row" ng-show="IsTopic">
                        <div class="col-md-6 col-sm-12">
                            <label>Topic</label>
                            <input type="text" class="form-control" placeholder="Topic" required id="topic" name="Topic"
                                ng-model="schedule.scheduleData.topic" />

                        </div>

                        <div class="col-md-6 col-sm-12">
                            <label>Total Price(£)</label>
                            <input type="text" ng-disabled="true" class="form-control" placeholder="" required
                                id="price" name="Price" ng-model="schedule.scheduleData.price" />
                        </div>
                    </div>


                    <div class="row" style="margin-top: 10px">
                        <div class="col-md-12 col-sm-12" ng-show="isDuration">
                            <div class="form-group">
                                <label>Choose Duration</label>
                                <select class="form-control show-tick ms select2"
                                    ng-model="schedule.scheduleData.duration" id="duration" data-placeholder="Duration">
                                    <option value="15">15 Minutes</option>
                                    <option value="30">30 Minutes</option>
                                    <option value="45">45 Minutes</option>
                                    <option value="60">60 Minutes</option>
                                    <option value="75">75 Minutes</option>
                                    <option value="90">90 Minutes</option>
                                    <option value="120">120 Minutes</option>
                                </select>

                            </div>
                        </div>
                    </div>

                    <div class="row" ng-show="isAcademy">
                        <div class="col-md-6 col-sm-12">
                            <label>Level</label>
                            <select class="form-control show-tick ms select2" ng-change="schedule.changeLevel()"
                                ng-model="schedule.scheduleData.levelId" id="level" data-placeholder="Level">
                                <option ng-value="none">Choose...</option>
                                <option ng-repeat="item in schedule.levels track by $index" ng-value="item.documentId">
                                    {{item.level}}
                                </option>
                            </select>
                        </div>

                        <div class="col-md-6 col-sm-12">
                            <label>Lesson</label>
                            <select class="form-control show-tick ms select2" ng-change="schedule.changeLesson()"
                                ng-model="schedule.scheduleData.lessonId" id="lesson" data-placeholder="Lesson">
                                <option ng-value="none">Choose...</option>
                                <option ng-repeat="item in  schedule.lessons track by $index"
                                    ng-value="item.documentId">
                                    {{item.topic}} </option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" ng-click="schedule.hideModal()">Close</button>
                    <button type="button" class="btn btn-primary"
                        ng-click="schedule.saveOrUpdate()">{{doAction}}</button>
                </div>
            </div>
        </div>
    </div>
</div>